/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*****
/* navbar
/*****/
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  background: transparent;
}
header ul {
  float: right;
}
header li {
  background-color: rgba(255, 255, 255, 0.356);
  list-style: none;
  padding: 15px;
  float: left;
}
header a {
  color: rgb(0, 0, 0);
  font-weight: 700;
}
/*****
/* hero-section
/*****/
.hero,
.hero img {
  z-index: -1;
  position: absolute;
  top: 0;
}
.hero {
  clear: both;
}
.hero img {
  width: 100vw;
}
.hero h1 {
  margin-top: 20%;
  font-size: 3rem;
  width: 50%;
}
.search-bar i {
  /* width: 30px; */
  position: relative;
  top: 30px;
  left: 10px;
}
.hero input {
  padding: 10px 60px;
  border-radius: 7px 0 0 7px;
}
.hero form + a {
  border-radius: 0 7px 7px 0;
  padding: 11px 20px;
  background: #ff8800;
  position: relative;
  bottom: 32px;
  left: 290px;
}
.hero h1,
.hero .search-bar,
.social--main {
  margin-left: 10%;
}
.socials a {
  color: black;
  background-color: rgba(255, 255, 255, 0.356);
}
.socials {
  margin-bottom: 50%;
}
/*****
/* about-sus-section
/*****/
.about-us img {
  width: 100%;
  z-index: -1;
  top: 500px;
  position: relative;
}
.about-us h2,
.about-us p,
.about-us span {
  margin: 20px 0 0 30%;
  position: relative;
  top: 70px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.356);
}
.about-us a {
  padding: 10px 17px;
  background: #ff8800;
  color: whitesmoke;
  border-radius: 7px;
  position: relative;
  left: 30%;
  top: 90px;
}
.about-us {
  margin-bottom: 20vw;
}
/*****
/* food display section
/*****/
.food * {
  margin: 10px;
  color: black;
}
.food {
  text-align: center;
  width: 80%;
  margin: 0 15%;
}
.food > a {
  color: #ff8800;
}
.food ul li {
  display: inline-block;
  border-bottom: 1px solid black;
}
.food img {
  width: 20%;
  margin-bottom: 2vw;
  border-radius: 3px;
}
/*****
/* opening schedule section
/*****/
.opening {
  font-size: 10px;
}
.opening {
  margin-top: 30px;
}
.opening .orange {
  color: #ff8800;
}
.opening .small-text {
  font-size: 2em;
  font-weight: 200;
}
.opening .bold {
  font-weight: 700;
}
.opening img {
  width: 100vw;
}
.opening .text {
  background: rgba(255, 255, 255, 0.753);
  position: relative;
  top: 500px;
  text-align: center;
  display: block;
  width: fit-content;
  margin-left: 40%;
  border-radius: 7px;
}
.opening .right,
.opening .left {
  width: 49vw;
}
.opening .right {
  float: right;
}
.opening .left {
  float: left;
}
.opening > span {
  font-size: 2em;
  text-shadow: #ff8800 0.1px 0.1px 1px;
}
/*****
/* Last section section T.T
/*****/
.end-pain {
  font-family: inherit;
  height: 500px;
  text-align: center;
  /* rgba layer above the bg-img */
  background: center / contain no-repeat
      radial-gradient(rgba(228, 228, 228, 0.671), rgba(255, 255, 255, 0.383)),
    #eee 35% url("../fruit-bg.jpg");
}
.end-pain .orange {
  padding-top: 10%;
  color: #ff8800;
  font-size: 0.5rem;
}
.end-pain img {
  border-radius: 50vw;
  width: 80px;
  height: 80px;
}
.end-pain .stars {
  display: inline-block;
  text-align: center;
  clear: both;
  width: 300px;
  height: 90px;
}
.stars svg {
  fill: yellow;
  width: 30px;
}
.end-pain p {
  width: 80%;
  margin-left: 10%;
}
