/* Please Make only Rhino and Zebra Blue */
.africa {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
.harryPotter {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
  color: red;
}
/* .class.class, means to search for one whit both classes! */
/* Please select Rhino with the highest level of specificity possible */
section.top > #rhino.africa.fourLegs {
  color: gray;
}
