/* Box Model Hack */
* {
  box-sizing: border-box;
}
:root {
  /* For ecessibility devices :O */
  font-size: 62.5%;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Please make the someText 12px, moreText 16px, and lastText 27px */
.someText {
  font-size: 1.2rem;
}
.moreText {
  font-size: 1.6rem;
}
.lastText {
  font-size: 2.7rem;
}

/* Please set a base font-size on heyo, and make someText 12px, moreText 16px, and lastText 27px BUT use ems instead of px */
.heyo {
  font-size: 100px;
}

.someText {
  font-size: 0.12em;
}
.moreText {
  font-size: 0.16em;
}
.lastText {
  font-size: 0.27em;
}

/* Please double the size of someText, moreText, and lastText using ems, but only make one change */
.heyo {
  font-size: 200px;
}

/* Please wrap lastText in a new section with the class of utOh and give it a base font size of 40px */
.ayo {
  font-size: 40px;
}
